#content { margin:0; }
.container a { color:#411485; font-weight:bold; }
#top { margin:0 auto 20px; }
	#top .grid_x { height:330px; }

#mid { margin:0px auto 20px auto; }
	#mid .grid_x { height:250px; }

/*   S E A R C H   P A N E L   */
#find { width:182px; height:auto !important; background:#feb415 url(http://images.laterooms.com/dizzy/betasearch/4/searchbg.gif) repeat-x left top; }
	#find #searchtitle { height:35px; padding:0; }
	#find li { padding-bottom:10px; line-height:1em; }
	#find label { display:block; color:#252525; font-weight:bold; font-size:12px; padding-bottom:4px; }
	#find input.txt { width:156px; }
	#find select.txt { width:160px; }
	#find .pad { padding:5px 10px 0 10px; height:284px; }
	#find .top, #find .bot { height:3px; padding:0; overflow:hidden; background:url(http://images.laterooms.com/dizzy/betasearch/4/searchtopbotbg.gif) no-repeat left top; }
	#find .bot { background-position:0px -3px; }
	select#ddlRoomType { width:auto; min-width:102px; }
	#find .txtrgt { padding-top:10px; z-indez:9999; }

/*   A U T O   C O M P L E T E   */
#suggestout { position:absolute; z-index:1000; }
#suggest { position:relative; width:220px; padding:3px; border:1px solid #0a0545; background:#fff; filter:alpha(opacity=90); opacity:.9; display:none; }
#suggest div { width:auto !important; width:100%; position:relative; z-index:100; cursor:pointer; padding:1px 1px 1px 3px; background-position:3px 2px; background-repeat:no-repeat; color:#0a0545; }
#suggest div.hover { color:#fff; background-color:#0a0545; }
#suggest span, #suggest b { font-weight:normal; font-size:11px; }
#suggest b { float:right; font-weight:bold; padding-left:5px; }