.hidden { opacity:0; position:absolute; }
.visible { opacity:1; }

#find select.calendar { width:130px; }
#mini select.calendar { width:129px; }
#sos select.calendar { width:120px; }
#calicon { border:0; cursor:pointer; float:right; height:19px; width:21px; background:url(http://images.laterooms.com/order/shared/calendar/cal-icon.png) no-repeat; }
#mini #calicon, #find #calicon { margin-right:8px !important; margin-right:3px; }
#sos #calicon { margin:5px 43px 0 0 !important; margin:5px 23px 0 0; }
div.calendar { background:#fff; border:1px solid #411485; text-align:center; width:150px; }
div.calendar div { overflow:hidden; position:relative; width:150px; }

div.calendar caption { background:#411485; color:#fff; font:normal 12px/20px Arial, Helvetica, sans-serif; text-align:center; width:100%; }
div.calendar caption a { cursor:pointer; text-indent:-100px; display:block; width:5px; height:12px; overflow:hidden; position:absolute; top:3px; background:url(http://images.laterooms.com/order/shared/calendar/cal-arrows.png) no-repeat 0px 2px; }
div.calendar caption a.prev { left:5px; }
div.calendar caption a.next { right:5px; background-position:right 2px; }

div.calendar caption span { position:relative; text-align:center; }
div.calendar caption span.month { padding-right:8px; }
div.calendar caption span.month:after { content:','; }

div.calendar table { background:#fff; border:0; border-collapse:collapse; border-spacing:0; cursor:default; margin:0 auto; overflow:hidden; width:150px; }
div.calendar td, div.calendar th { border:0; color:#222; font:normal 12px Arial, Helvetica, sans-serif; height:21px; text-align:center; width:21px; border-right:1px solid #ccc; }
div.calendar td { color:#aaa; font-size:11px; font-weight:bold; border-top:1px solid #ccc; }
div.calendar td.invalid { color:#aaa; }
div.calendar td.valid { color:#411485; cursor:pointer; }

div.calendar td.inactive { color:#222; }
div.calendar td.active { color:#fff; background:#411485; }
div.calendar td.hover { color:#411485; background:#ffc; cursor:pointer; }