/* Generic form elements */
label.txt { font-size:12px; }
input.txt, select.txt, .txt option, label.txt, textarea { font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:1.5em; }
.txt option { padding:2px 3px 1px 3px; }
input.txt { height:1.3em; }

table.fields td { padding:5px 10px 5px 0; }
td.coltxt { width:140px; }
p.longquestion { line-height:2em; }
td.toptxt { vertical-align:top !important; }
#btnAL img { vertical-align:bottom; }

.vtop { vertical-align:top; }

.w1 { width:30px; }
.w2 { width:50px; }
.w3 { width:100px; }
.w4 { width:150px; }
.w5 { width:200px; }
.w6 { width:250px; }
.w7 { width:350px; }

img.btn { cursor:pointer; }

