/*   S E A R C H   P A N E L   */
	#find { position:absolute; left:8px; top:0px; width:175px; font-size:11px; overflow:hidden }
	#find input, #find select { padding:1px; width:154px; border:1px solid #411485; color:#0a0545; font-weight:normal; }
	#find input { width:150px; }
	#find select { margin-bottom:5px; }
	#find select option { padding:1px 5px 1px 3px; background:#fff; }
	#find div.inner { position:relative; padding-top:25px; margin:0; border:0; background:none; }
	#find p { font-size:11px; padding:5px 0 1px 0; text-align:left; }
	#find div.form { padding:5px 10px 0 10px; height:180px; }
	input#search { cursor:pointer; border:0; height:30px; font-size:0px; text-indent:-900px; }
	
/*   S P R I N G S   */
	#spring { position:relative; }
	#spring .spring { position:relative; display:block; height:28px; overflow:hidden; cursor:pointer; }
	#spring li.spring p { font-size:11px; color:#0a0545; display:block; padding:0px 20px 5px 10px; }
	.spring span { color:#0a0545; font-weight:bold; display:block; width:130px; font-size:12px; padding:7px 0 5px 10px; }
	.spring span.sel { background:url(http://images.laterooms.com/dizzy/layout/arrow.gif) no-repeat right 9px; }
	.spring span.wait { background:url(http://images.laterooms.com/dizzy/layout/ajax-loader.gif) no-repeat right 5px; }
	#advspring { background:#ff9f15; } 
	#mapspring { background:#ff7e15; }
	#cloudspring { background:#f60; }
	img.bot { position:absolute; left:0px; bottom:0px; }
	#find input.btn { width:auto; border:0; background:none; float:right; }

/*   A U T O   C O M P L E T E   */
	#suggestout { position:absolute; z-index:1000; }
	#suggest { position:relative; width:220px; padding:3px; border:1px solid #0a0545; background:#fff; filter:alpha(opacity=90); opacity:.9; display:none; }
	#suggest div { width:auto !important; width:100%; position:relative; z-index:100; cursor:pointer; padding:1px 1px 1px 3px; background-position:3px 2px; background-repeat:no-repeat; color:#0a0545; }
	#suggest div.hover { color:#fff; background-color:#0a0545; }
	#suggest span, #suggest b { font-weight:normal; font-size:11px; }
	#suggest b { float:right; font-weight:bold; padding-left:5px; }
